#contact-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-top: 40px;

}
h3{
    text-align: center;
    font-size: 22px;
    color:black;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    
    text-decoration:underline;
    text-underline-offset: 25px;
}

.link{
    display:flex;
    justify-content: center;
}
#navbar{
    display:inline-block;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    font-family: "Ubuntu", sans-serif;
}
a{
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    margin:25px;
    text-decoration:none;
}
a::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  a:hover, a:visited, a:link, a:active{
      text-decoration: none;
      color:black;
  } 
  a:hover::after{
      height: calc(100% + 8px);
  }
