<div id="bio-container">
    <h3>About Me</h3>
    <div class="row">
        <p class="column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ex quis augue facilisis convallis. Curabitur tristique sapien ut arcu faucibus, nec suscipit erat semper. Nam id lobortis purus, eu cursus elit. Duis ac justo aliquet, blandit erat non, viverra quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed scelerisque dignissim nunc, eu vehicula lorem laoreet vitae. Sed dictum pulvinar libero sed congue.</p>
        <p class="column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut ex quis augue facilisis convallis. Curabitur tristique sapien ut arcu faucibus, nec suscipit erat semper. Nam id lobortis purus, eu cursus elit. Duis ac justo aliquet, blandit erat non, viverra quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed scelerisque dignissim nunc, eu vehicula lorem laoreet vitae. Sed dictum pulvinar libero sed congue.</p>
    </div>
</div>