p{
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 16px;
}
h3{
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 24px;
}

#bio-container{
    padding-top:40px;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

a{
    font-size: 16px;
    font-family: "Ubuntu Mono" , sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    text-decoration:none;
}
a::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  a:hover, a:visited, a:link, a:active{
      text-decoration: none;
      color:black;
  } 
  a:hover::after{
      height: calc(100% + 8px);
  }
